name: Neowatch Publish (NPM)

on:
  push:
    branches: [ main ]


jobs:
  publish:
    runs-on: ubuntu-latest

    permissions: write-all

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Bump version
        run: bun run bump
      - name: Build package
        run: bun run build
      - name: Publish
        run: bun publish
        env:
          NPM_CONFIG_TOKEN: ${{ secrets.NPM_TOKEN }}